<% if (title == "Main Menu") { %>
<button onclick="openMainMenu()" type="button" class="back_button" style="display:none">
  Back
</button>
<% } else { %>
<button onclick="window.location.href='../'" type="button" class="back_button">
  Back
</button>
<% } %>

<a
  class="watermark"
  href="../"
  >by venashial</a
>