//Colors
$color_red: #ED988D;
$color_purple: #8c6fe5;
$color_offwhite: #DAE7FF;
$color_bg: #1C1B29;

//Border
$border_radius: 0.4rem;

//Fonts
$body-font: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$header-font: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$font-xxl: 4rem;
$font-xl: 3rem;
$font-l: 2rem;
$font-m: 1.5rem;
$font-ms: 1.3rem;
$font-s: 1rem;

$weight-thick: 700;
$weight-medium: 600;
$weight-thin: 400;