<!DOCTYPE html>
<html>
  <head>
   <%- include('../partials/head'); -%>
  </head>
  <body>

<%- include('../partials/header'); -%>

<script src="/js/pages/multiplayer/websocket.js"></script>

<button onclick='send_websocket_message("test")'> Send Websocket</button>

<%- include('../partials/footer'); -%>

  </body>
</html>